{{ template "header" . }}
<main>
    {{ template "mascot" . }}
    {{ if .ShowTitle }}
    <div class="title">{{ .Title }}</div>
    {{ end }}
    <form method="POST" action="logout">
        <input type="hidden" name="stopnik_logout_redirect" value="{{ .RequestURI }}" />
        <div class="input">
            <label for="stopnik_username">Username</label>
            <input id="stopnik_username" type="text" name="stopnik_username" value="{{ .Username }}" readonly />
        </div>
        <div class="input">
            <button type="submit">Logout</button>
        </div>
    </form>
</main>
{{ template "footer" . }}