server:
  authCookieName: stopnik_auth
  secret: WRYldij9ebtDZ5VJSsxNAfCZ
  port: 8080
clients:
- id: testclient
  secret: d82c4eb5261cb9c8aa9855edd67d1bd10482f41529858d925094d173fa662aa91ff39bc5b188615273484021dfb16fd8284cf684ccf0fc795be3aa2fc1e6c181
  accessTTL: 5
  type: confidential
users:
- username: foo
  password: d82c4eb5261cb9c8aa9855edd67d1bd10482f41529858d925094d173fa662aa91ff39bc5b188615273484021dfb16fd8284cf684ccf0fc795be3aa2fc1e6c181