/* styles.css */
:root {
    --bg-color: #fcfcfc;
    --footer-bg-color: #ABC3D6;
    --border-color: #888;
    --button-color: #5870A2;
    --button-hover-color: #81a2d4;
    --error-message-color: #d13b3b;
    --default-top-margin: 1rem;
}
body {
    font-size: 16px;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

main {
    display: flex;
    flex-grow: 1;
    margin-bottom: 2rem;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    flex-shrink: 1;
    display: flex;
    width: 100vw;
    background-color: var(--footer-bg-color);
    border-top: 0.05rem solid var(--border-color);
}

footer div {
    padding: 1rem;
}

div.logo {
    display: flex;
    justify-content: center;
}

div.logo img {
    max-width: 250px;
}

form {
    display: flex;
    flex-direction: column;
    align-self: center;
    min-width: 25vw;
}

div.input {
    display: flex;
    flex-direction: column;
    margin-top: var(--default-top-margin);
}

div.input input, div.input button {
    padding: 0.75rem;
    margin-top: 0.25rem;
    border: 0.05rem solid var(--border-color);
}

div.input button {
    border: 0.05rem solid var(--border-color);
    background-color: var(--button-color);
    color: #fff;
}

div.input button:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
    color: #000;
}

div.title {
    padding-top: 2rem;
    font-weight: lighter;
    font-size: 1.25rem;
}

div.error-message {
    color: var(--error-message-color);
    margin-top: var(--default-top-margin);
}

@media (max-width: 767px) {
    form {
        min-width: 80vw;
    }
}

@media (max-height: 650px) {
    form {
        margin-bottom: 0;
    }
}