# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Build STOPnik

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "main" ]

env:
  CGO_ENABLED: 0

jobs:

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
    #runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'

    - name: Display Go version
      run: go version

    - name: Build
      run: ./build.sh build_ci ci

    - name: Tests
      run: ./test.sh coverage

